<h1>Add a Photo!</h1>


<div class = "form">

  <form action="/mymoments/<%= params[:id] %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <div>
      <h4>
        <label for="name-input">IMAGE NAME</label>
      </h4>
      <input type="text" id = "name-input" name="name" />
    </div>
    <div>
      <h4>
        <label for="description-input">IMAGE DESCRIPTION</label>
      </h4>
      <input type="text" id = "description-input" name="description" />
    </div>
    <div>
      <h4>
        <label for="image-input">IMAGE URL</label>
      </h4>
      <input type="text" id = "image-input" name="image_url" />
    </div>
    <div class="submit">
      <input type="submit" class="btn btn-default" />
    </div>
  </form>
</div>
