<h1>Image Rankings</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @pics.in_groups_of(4, false).each do |group| %>
        <div class="row">
          <% group.each do |pic| %>
            <div class="product col-md-3 index">
              <a><%= link_to pic.name, user_show_one_path(pic.id) %></a>
              <li><%= pic.description %></li>
              <img><%= link_to image_tag(pic.url.url(:square)), user_show_one_path(pic.id) %></img>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
