<h1>Thumbs Downs</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @downs.in_groups_of(4, false).each do |group| %>
        <div class="row">
          <% group.each do |down| %>
            <div class="product col-md-3 index">
              <a><%= link_to down.name, user_show_one_path(down.id) %></a>
              <li><%= down.description %></li>
              <img><%= link_to image_tag(down.url.url(:square)), user_show_one_path(down.id) %></img>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
