<h1>Thumbs Ups</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @ups.in_groups_of(4, false).each do |group| %>
        <div class="row">
          <% group.each do |up| %>
            <div class="product col-md-3 index">
              <a><%= link_to up.name, user_show_one_path(up.id) %></a>
              <li><%= up.description %></li>
              <img><%= link_to image_tag(up.url.url(:square)), user_show_one_path(up.id) %></img>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
