<h1>My Captured Moments</h1>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @pictures.in_groups_of(4, false).each do |group| %>
        <div class="row">
          <% group.each do |picture| %>
            <div class="product col-md-3 index">
              <a><%= link_to picture.name, show_one_path(picture.id) %></a>
              <li><%= picture.description %></li>
              <img><%= link_to image_tag(picture.url.url(:square)), show_one_path(picture.id) %></img>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
