<h1>Hello <%= @user.user %>, your photo has been rated!</h1>

<p>
  Your photo, <%= @picture.name %>, has been given a <%= @rating %> rating.
</p>

<% if @review.comment != "" %>
   <p>Comment: <%= @review.comment %></p>
<% end %>
