<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="home_header">
        <h1>Sharp Shooter</h1>
        <p>Welcome to Sharp Shooter, where you can upload your photos and have it reviewed by your peers.</p>
        <button><%= link_to "Sign Up!", "/sign-up" %></button>
      </div>
      <img src="https://s3-us-west-2.amazonaws.com/photo-rating/photobg.png" alt="" class="img-responsive center-block"/>
    </div>
  </div>
</div>

<div class="space">

</div>
