<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <h1 class="home_header">Sharp Shooter</h1>
        <p class="home_p">SIGN UP... OR ELSE.</p>
        <button class="home_li"><%= link_to "Sign Up!", "/sign-up" %></button>
      </div>
      <img src="https://s3-us-west-2.amazonaws.com/photo-rating/photobg.png" alt="" class="img-responsive center-block"/>
    </div>
  </div>
</div>

<div class="space">

</div>
